.job-card-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.empty-list-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  font-family: 'open sans';
}
.empty-list-logo {
  width: 90%;
}
.empty-head {
  color: #ffff;
  font-size: 25px;
}
.empty-sub-title {
  color: #ffff;
  font-size: 13px;
}
.job-item-container {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.link-ele {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
}
.job-ele {
  background-image: radial-gradient(#747474de, #272727);
  border-radius: 10px;
  color: #fff;
  min-height: 30vh;
  margin-top: 0px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logo-name-container {
  display: flex;
  margin: 20px;
}
.company-logo-job-card {
  width: 45px;
  margin-top: 2px;
  height: 45px;
}
.timing-and-rating-main-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.rating-container {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.name-of-roll {
  color: #fff;
  margin-top: 3px;
  font-size: larger;
  font-size: medium;
  font-weight: 800;
  margin-bottom: 0px;
}
.star {
  color: #fbbf24;
}
.rating {
  margin-left: 6px;
  font-size: medium;
}
.job-card-hr {
  width: 90%;
  border: 1px solid #787a81;
  margin-top: -10px;
}
.work-location-sealery-container {
  display: flex;
  width: 86%;
  margin-top: -40px;
  margin-bottom: 5px;
  align-self: center;
  justify-content: space-between;
}
.location-work-container {
  display: flex;
  margin-left: -15px;
}
.location-container {
  display: flex;
  margin-left: 10px;
  align-items: center;
  font-size: 15px;
  color: #cbcbcb;
}
.work-type {
  margin-left: 5px;
  color: #cbcbcb;
}
.description-container {
  width: 90%;
  align-self: center;
  color: #cbcbcb;
  margin-bottom: 10px;
}
.description-head {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 9px;
}
.lpa {
  font-size: 15px;
  color: #cbcbcb;
}
@media (min-width: 600px) {
  .empty-list-logo {
    width: 60%;
  }
  .job-ele {
    width: 90%;
    margin: 5px;
  }

  .job-card-hr {
    width: 95%;
    border: 1px solid #787a81;
    margin-top: -15px;
  }
  .work-location-sealery-container {
    display: flex;
    width: 94%;
    margin-top: -40px;
    margin-bottom: 5px;
    align-self: center;
    justify-content: space-between;
  }
  .location-work-container {
    display: flex;
    margin-left: -15px;
  }
  .location-container {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: 17px;
  }
  .work-type {
    margin-left: 5px;
  }
  .description-container {
    width: 95%;
    align-self: center;
    color: #cbcbcb;
    margin-bottom: 10px;
  }
}
