.jobs-main-container {
  background-color: #000000;
  height: 100vh;
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.main-job-flex-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  min-height: 100%;
  align-self: center;
}

.user-details {
  min-height: 20vh;
  margin-top: 20px;
  /* background-color: aquamarine; */
}
.hr {
  width: 85%;
}

@media (min-width: 600px) {
  .main-job-flex-container {
    display: flex;
    flex-direction: row;
  }
  .user-details-and-filter-container {
    width: 30%;
  }
  .user-details {
  }
}
