.main-login-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
  flex-direction: column;
  height: 100vh;
}
.form-container {
  background-color: #272727;
  width: 70%;
  min-width: 230px;
  min-height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  padding-bottom: 40px;
}
.login-page-logo {
  width: 55%;
  margin-bottom: -10px;
}
.input-container {
  margin-top: 40px;
  width: 90%;
  align-self: center;
}
.name-input {
  width: 100%;
  outline: none;
  margin-bottom: 15px;
  padding: 9px 15px;
  border-radius: 6px;
  border: 1px solid #686b6e;
  color: #cbd5e1;
  font-size: 15px;
  background-color: transparent;
  margin-top: 5px;
}

.login-label {
  color: #fafcff;
  width: 80%;
  font-weight: 800;
  font-size: 12px;
}

.login-input {
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  padding: 9px 15px;
  border-radius: 6px;
  border: 1px solid #686b6e;
  color: #cbd5e1;
  font-size: 15px;
  background-color: transparent;
  margin-top: 5px;
}
.login-button {
  color: #ffff;
  width: 100%;
  margin-top: 5px;
  background-color: #4f46e5;
  border-radius: 6px;
  outline: none;
  padding: 10px 15px;
  font-weight: 700;
  border: none;
}
.err-msg {
  margin-top: 5px;
  color: red;
  margin-bottom: -20px;
  /* font-size: la; */
}

@media (max-width: 700px) {
  .form-container {
    margin-top: -50px;
  }
}

@media (min-width: 700px) {
  .form-container {
    width: 30%;
    min-height: 60%;
    max-height: 500px;
  }
  .login-label {
    width: 5%;
  }
  .login-label {
    font-size: 14px;
  }
}
